<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="css/main.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css" />

        <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>

    <body>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>

        <nav class="nav">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Regal Airways</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h1 class="header center slogan">Customer Registration</h1>
            <div class="row center">
                <h5 class="header col s12 light">Stuff and things</h5>
            </div>
        </div>

        <div>
            <div class="row">
                <form class = "col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder = "Enter first name." id="first_name" type="text" class= "validate"/>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder = "Enter last name." id="last_name" type="text"  class="validate"/>
                                <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Enter email." id="email" type="email" class="validate"/>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Enter street address." id="address" type="text" class="validate"/>
                            <label for="address">Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input placeholder="Enter city." id="city" type="text" class="validate"/>
                            <label for="city">City</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Enter state." id="state-autocomplete" type="text" 
                            class="autocomplete state"/>
                            <label for="autocomplete-input">State</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Enter country." id="country" type="text" class="validate"/>
                            <label for="country">Country</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row center">
                <a href="#" class="btn-large waves-effect waves-light
                book-flight">Register</a>
            </div>
        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript">
             $( document ).ready(function(){
                $(".button-collapse").sideNav();
                $('select').material_select();
                $('input.autocomplete.state').autocomplete({
                  data: {
                    "AL": null,"AK": null,"AZ": null,"AR": null,"CA": null,
                    "CO": null,"CT": null,"DE": null,"FL": null,"GA": null,
                    "HI": null,"ID": null,"IL": null,"IN": null,"IA": null,
                    "KS": null,"KY": null,"LA": null,"ME": null,"MD": null,
                    "MA": null,"MI": null,"MN": null,"MS": null,"MO": null,
                    "MT": null,"NE": null,"NV": null,"NH": null,"NJ": null,
                    "NM": null,"NY": null,"NC": null,"ND": null,"OH": null,
                    "OK": null,"OR": null,"PA": null,"RI": null,"SC": null,
                    "SD": null,"TN": null,"TX": null,"UT": null,"VT": null,
                    "VA": null,"WA": null,"WV": null,"WI": null,"WY": null
                  },
                  limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                  onAutocomplete: function(val) {
                    // Callback function when value is autcompleted.
                  },
                  minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
                });
                /*
                $('input.autocomplete.arrive').autocomplete({
                  data: {
                    "DTW": null,
                    "LAX": null,
                    "LAG": null
                  },
                  limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                  onAutocomplete: function(val) {
                    // Callback function when value is autcompleted.
                  },
                  minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
                });*/
            }); 
        </script>
    </body>
</html>
