<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="css/main.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css" />

        <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>

    <body>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>

        <nav class="nav">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Regal Airways</a>
            </div>
        </nav>

        <div class="container">
            <h1 class="header center slogan">Payment</h1>
            <div class="row center">
                <h5 class="header col s12 light">Review flight information.</h5>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="row">
                    <div class="col s4 valign-wrapper">
                        <h3 class="flow-text col s8 left-align">Flight Number:</h3>
                        <p th:text="${flight.flightNumber}" class=" flow-text col s4 left-align"></p>
                    </div>
                    <div class="col s4 valign-wrapper">
                        <h3 class="flow-text col s8 left-align">Terminal:</h3>
                        <p th:text="${flight.terminalNumber}" class="flow-text col s4 left-align"></p>
                    </div>
                    <div class="col s4 valign-wrapper">
                        <h3 class="flow-text col s8 left-align">Gate:</h3>
                        <p th:text="${flight.gate}" class="flow-text col s4 left-align"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 valign-wrapper">
                        <h3 class="flow-text col s8 left-align">Routing:</h3>
                        <p th:text="${flight.routing}" class="flow-text col s4 left-align"></p>
                    </div>
                    <div class="col s4 valign-wrapper">
                        <h3 class="flow-text col s8 lleft-align">Departing:</h3>
                        <p th:text="${flight.departing}" class="flow-text col s4 left-align"></p>
                    </div>
                    <div class="col s4 valign-wrapper">
                        <h3 class="flow-text col s8 left-align">Arriving:</h3>
                        <p th:text="${flight.arrival}" class="flow-text col s4 left-align"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 valign-wrapper">
                        <h3 class="flow-text col s8 left-align">Status:</h3>
                        <p th:text="${flight.status}" class="flow-text col s4 left-align">000</p>
                    </div>
                    <div class="col s4 valign-wrapper">
                        <h3 class="flow-text col s8 left-align">Flight Cost:</h3>
                        <p th:text="${flight.cost}" class="flow-text col s4 left-align"></p>
                    </div>
                </div>
                <div class="row">
                    <form>
                        <div class="input-field col s12">
                            <input placeholder="0" id="luggage" type="number" class="validate" min="0" max="50" pattern="^[0-9]{1,2}$"/>
                            <label for="luggage">Baggage weight</label>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form action="/reservation" th:action="@{/reservation}" th:object="${payment}" method="post">
                        <input type="hidden" th:value="${flight.flightNumber}" th:id="id" th:name="id" /> <div class="row"> <div class="input-field col s6">
                                <input th:field="*{method}" placeholder="Debit/Credit" id="cardType" type="text" class="validate"/>
                                <label for="card_type">Method</label>
                            </div>
                            <div class="input-field col s6">
                                <input th:field="*{vendorName}" placeholder="Bank" id="vendorName" type="text" class="validate"/>
                                <label for="vendorName">Bank/Credit Union</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10">
                                <input th:field="*{cardNumber}" placeholder="Card Number" id="cardNumber" type="text" class="validate"/>
                                <label for="cardNumber">Card Number</label>
                            </div>
                            <div class="input-field col s2">
                                <input th:field="*{csv}" placeholder="CSV" id="csv" type="text" class="validate"/>
                                <label for="csv">CSV</label>
                            </div>
                        </div>
                        <div class="row">
                            <h2 id="price-text" class="col s6" th:text="'TOTAL PRICE $' + ${flight.cost}"></h2>
                            <input type="hidden" th:value="${flight.cost}" th:id="cost" th:name="cost" />
                        </div>
                        <input type="submit" value="Make Reservation" class="btn-large waves-effect waves-light" />
                    </form>
                </div>
            </div>
        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var orig = $('#cost').val();
                $("#luggage").on("keyup keydown change",function(event){
                    if(this.value >= 5) {
                        var price = parseFloat(orig) + 100.00;
                        $('#price-text').text('TOTAL PRICE $' + parseFloat(price));
                        $('#cost').val(price);
                    } else {
                        $('#cost').val(parseFloat(orig));
                        $('#price-text').text('TOTAL PRICE $' + parseFloat(orig));
                    }
                });
            });
        </script>
    </body>
</html>
